<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">

    <link type="text/css" href="/css/style.css" rel="stylesheet">

</head>
<body>
{{>menu}}
<form name="action" method="get" action="{{path}}">
    <div class="header">
        <p><br>Function: Make Camel Register</p>
    </div>
    <div class="information">
    <p><br>Input your string</p>
    </div>

    <div class="url">
    <p><input type="text" name="String" placeholder="Your string"></p>
    </div>
    <p><br><input type="submit" class="button button1" value="Send"></p>
</form>
{{>footer}}
</body>
</html>