<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
</head>
<body>
{{>menu}}
<p><h3>Your string before camel register:</h3>
{{yourQuery}}
<p><h3>Your string after camel register:</h3>
    {{answer}}</p>
<p>
    {{>footer}}
</body>
</html>