<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">

    <link type="text/css" href="/css/style.css" rel="stylesheet">

</head>
<body>
{{>menu}}
<form name="action" method="get" action="{{path}}">
    <h3 class="head">
        <br><p>Definition of the Day Off</p>
    </h3>

    <div class="url">
        <p><input type="text" name="year_" placeholder="Input your year">
        <input type="text" name="month_" placeholder="Input your month">
        <input type="text" name="date_" placeholder="Input your day"></p>
    </div>
        <br><input type="submit" class="button button1" value="Send">

</form>
{{>footer}}
</body>
</html>