<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
</head>
    <body>
        {{>menu}}
        <p><h1>{{tit}} {{errorStatus}}</h1></p>
        <p>{{errorMessage}}</p>
        {{>footer}}
    </body>
</html>