<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">

    <link type="text/css" href="/css/style.css" rel="stylesheet">

</head>
    <body>
        {{>menu}}
        <div class="header">
        <p><br>Your string before sorting:</div>
        <div class="information">
        <br>{{yourQuery}}</div>
        <div class="header"><p><br>Your string after sorting:</div>
        <div class="information"><br>{{answer}}</div>
        <p>
        {{>footer}}
    </body>
</html>