<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">

    <link type="text/css" href="/css/style.css" rel="stylesheet">

</head>
    <body>
        {{>menu}}
        <form name="action" method="get" action="{{path}}">
            <div class="header">
                <h3 class="head">
                <br><p>Sorting of string
            </h3></div>

                <br><p>Input your string</p>


            <div class="url">

                <input type="text" name="StringForSort" placeholder="Your string">
            </div>

            <br><p><input type="submit" class="button button1 "value="Send"></p>
        </form>
        {{>footer}}
    </body>
</html>